<!doctype html>
<html lang="ko">
<head>
  <!-- Required meta tags -->
  <meta charset="uft-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <!-- SimpleMDE CSS 및 JavaScript 파일 추가 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
</head>
<body>
  {% include "navbar.html" %}
  <!-- 기본 템플릿에 삽입할 내용 Start -->
  {% block content %}
  {% endblock %}
  <!-- 기본 템플릿에 삽입할 내용 End -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <!-- SimpleMDE JavaScript 파일 추가 -->
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  {% block script %}
  {% endblock %}
</body>
</html>
